<div class="container-login">
  <div class="row m-0 h-100">
    <div class="col p-0 text-center d-flex justify-content-center align-items-center display-none">
      <img src="../../images/login-backgroun.png" class="w-100 image-login">
    </div>
    <div class="col p-0 bg-custom d-flex justify-content-center align-items-center flex-column w-100">
      <h1 style="color: white;margin-top: 50px;">Aplicante</h1>
      <form class="w-75" action="/login-tester" method="POST">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Correo</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="email" placeholder="Correo">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label">Código</label>
          <input type="text" class="form-control" id="exampleFormControlInput2" name="code" placeholder="*********">
        </div>
        <button type="submit" class="btn btn-custom btn-lg btn-block mt-3">Iniciar Sesión</button>
      </form>
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </div>
  </div>
</div>