<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/login" style="color: black;">Registrar</a>
<a href="/signup" style="color: black;">Iniciar Sesion</a>
<a href="/tests" style="color: black;">Test</a>
