<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">EverlyTest</h1>
      <p class="lead text-muted">Evaluación previa para filtrar candidatos</p>
      <p>
        <a href="/signup" class="btn btn-primary my-2">Registrar</a>
        <a href="/login" class="btn btn-secondary my-2">Iniciar Sesión</a>
      </p>
    </div>
  </div>
  <form method="POST" action="/tests">
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputEmail1" name="position" pla>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="width: 100%;">
      {{#each this.tests}}
      {{> examCard this}}
      {{/each}}
    </div>
  </div>
</div>