<div class="container-login">
  <div class="col p-0 bg-custom d-flex justify-content-center align-items-center flex-column w-100">
    <form class="w-75" action="/user-profile/create-test" method="POST">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre de la Evaluación</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Nombre de la vacante</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="namePosition" placeholder="Vacante">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Departamento</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="department"
          placeholder="Departamento">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Descripción de la Vacante</label>
        <textarea class="form-control" name="positionDescription" id="" cols="20" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-custom btn-lg btn-block mt-3">Crear</button>
    </form>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </div>
</div>