Bienvenido {{this.userLog.name}}
<button><a href="/user-profile/create-test" style="color: black;" >Creer Pruebas</a></button>
{{#if this.test}}
{{this}}
<a href="#" style="color: black;">Detalle</a>
<a href="#" style="color: black;">Modificar</a>
{{else}}
<p>No test created</p>
{{/if}}